body {
    background-color: #ffffff;
    background-image: url("../Images/BackgroundImage.png");
}

#Card-Left {
    margin: 0%;
    padding: 0%;
    height: auto;
}

#Img-Mum {
    background-image: url('../Images/Img-PlaceHolderPerson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border-radius: 3px;
}

#Card-Left {
    margin: 0%;
    padding: 0%;
    height: auto;
}

h1 { font-family: 'Marck Script', cursive; }

#email { font-size: 0.9em; }

button:hover { background-color: #C1666B; }

a { color: white; }

a:hover {
    color: white;
    text-decoration: none;
}

.text-blueDark {
    color: rgb(87, 106, 155);
}

.text-blueLight {
    color: rgb(126, 137, 163);
}

@media only screen and (max-width: 768px) {
    
    #Card-Left {
        margin: 10%;
        padding: 0;
    }

    #Card-Right {
        margin: 10%;
        padding: 0;
    }

    #email {
        font-size: 0.75em;
    }

}