body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}

#Card-Left {
    margin: 0%;
    padding: 0%;
    height: auto;
    top: 0;
}

#Img-Mum {
    background-image: url('../Images/Img-PlaceHolderPerson.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    border-radius: 3px;
}

#Card-Left {
    margin: 0%;
    padding: 0%;
    height: auto;
}

h1 { font-family: 'Marck Script', cursive; }

#email { white-space: nowrap; }

button:hover { background-color: #C1666B; }

a { color: white; }

a:hover {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    
    #Card-Left {
        margin: 10%;
        padding: 0;
    }

    #Card-Right {
        margin: 10%;
        padding: 0;
    }

}