
#navbar { background-color: #33333377; }

img {
    height: auto;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    
    img {
        height: auto;
        width: 100%;
    }

}

















































/* #Banner { box-shadow: 0 0 2px 5px #aaaaaa; }

h1 { font-size: 4em; }

li {
    list-style: none;
    font-size: 1.5em;
    transition: all 1s;
}

li:hover {
    color: #C1666B;
    transition: all 1s;
    cursor: pointer;
}

.active { color: #C1666B; }

#imgWrapper {
    height: 100%;
    width: auto;
}

img {
    height: 25%;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    img {
        height: auto;
        width: 100%;
    }

    h1 { text-align: center; }
} */