/* =============================================================== */
.h10  { height: 10vh;  }
.h15  { height: 15vh;  }
.h20  { height: 20vh;  }
.h25  { height: 25vh;  }
.h30  { height: 30vh;  }
.h35  { height: 35vh;  }
.h40  { height: 40vh;  }
.h45  { height: 45vh;  }
.h50  { height: 50vh;  }
.h55  { height: 55vh;  }
.h60  { height: 60vh;  }
.h65  { height: 65vh;  }
.h70  { height: 70vh;  }
.h75  { height: 75vh;  }
.h80  { height: 80vh;  }
.h85  { height: 85vh;  }
.h90  { height: 90vh;  }
.h95  { height: 95vh;  }
.h100 { height: 100vh; }
/* =============================================================== */
.w10  { width: 10%;  }
.w15  { width: 15%;  }
.w20  { width: 20%;  }
.w25  { width: 25%;  }
.w30  { width: 30%;  }
.w35  { width: 35%;  }
.w40  { width: 40%;  }
.w45  { width: 45%;  }
.w50  { width: 50%;  }
.w55  { width: 55%;  }
.w60  { width: 60%;  }
.w65  { width: 65%;  }
.w70  { width: 70%;  }
.w75  { width: 75%;  }
.w80  { width: 80%;  }
.w85  { width: 85%;  }
.w90  { width: 90%;  }
.w95  { width: 95%;  }
.w100 { width: 100%; }
/* =============================================================== */
.bg-lshade   { background-color: #F8FAFB; }
.bg-laccent  { background-color: #E0B884; }
.bg-main     { background-color: #AAB3C2; }
.bg-daccent  { background-color: #C1666B; }
.bg-dshade   { background-color: #6F7C9E; }

.bg-roseGold { background-color: #e498a3 ; }

/* ----------------------------------------------- */

.bg-1 { background-color: #111111; }
.bg-2 { background-color: #222222; }
.bg-3 { background-color: #333333; }
.bg-4 { background-color: #444444; }
.bg-5 { background-color: #555555; }
.bg-6 { background-color: #666666; }
.bg-7 { background-color: #777777; }
.bg-8 { background-color: #888888; }
.bg-9 { background-color: #999999; }
.bg-a { background-color: #AAAAAA; }
.bg-b { background-color: #BBBBBB; }
.bg-c { background-color: #CCCCCC; }
.bg-d { background-color: #DDDDDD; }
.bg-e { background-color: #EEEEEE; }
.bg-f { background-color: #FFFFFF; }

/* =============================================================== */
.text-lshade   { color: #F8FAFB; }
.text-laccent  { color: #E0B884; }
.text-main     { color: #AAB3C2; }
.text-daccent  { color: #C1666B; }
.text-dshade   { color: #6F7C9E; }

/* ----------------------------------------------- */

.text-1 { color: #111111; }
.text-2 { color: #222222; }
.text-3 { color: #333333; }
.text-4 { color: #444444; }
.text-5 { color: #555555; }
.text-6 { color: #666666; }
.text-7 { color: #777777; }
.text-8 { color: #888888; }
.text-9 { color: #999999; }
.text-a { color: #AAAAAA; }
.text-b { color: #BBBBBB; }
.text-c { color: #CCCCCC; }
.text-d { color: #DDDDDD; }
.text-e { color: #EEEEEE; }
.text-f { color: #FFFFFF; }
/* =============================================================== */
.boxShadow-lshade   { box-shadow: 0 0 5px 2px #F1F0F1; }
.boxShadow-laccent  { box-shadow: 0 0 5px 2px #E0B884; }
.boxShadow-main     { box-shadow: 0 0 5px 2px #AAB3C2; }
.boxShadow-daccent  { box-shadow: 0 0 5px 2px #C1666B; }
.boxShadow-dshade   { box-shadow: 0 0 5px 2px #6F7C9E; }

.boxShadow-1   { box-shadow: 0 0 3px 2px #111111; }
.boxShadow-2   { box-shadow: 0 0 3px 2px #222222; }
.boxShadow-3   { box-shadow: 0 0 3px 2px #333333; }
.boxShadow-4   { box-shadow: 0 0 3px 2px #444444; }
.boxShadow-5   { box-shadow: 0 0 3px 2px #555555; }
.boxShadow-6   { box-shadow: 0 0 3px 2px #666666; }
.boxShadow-7   { box-shadow: 0 0 3px 2px #777777; }
.boxShadow-8   { box-shadow: 0 0 3px 2px #888888; }
.boxShadow-9   { box-shadow: 0 0 3px 2px #999999; }
.boxShadow-a   { box-shadow: 0 0 3px 2px #AAAAAA; }
.boxShadow-b   { box-shadow: 0 0 3px 2px #BBBBBB; }
.boxShadow-c   { box-shadow: 0 0 3px 2px #CCCCCC; }
.boxShadow-d   { box-shadow: 0 0 3px 2px #DDDDDD; }
.boxShadow-e   { box-shadow: 0 0 3px 2px #EEEEEE; }
.boxShadow-f   { box-shadow: 0 0 3px 2px #FFFFFF; }

/* =============================================================== */
.border-lshade   { border: 1px solid #F1F0F1; }
.border-laccent  { border: 1px solid #AAF0D1; }
.border-main     { border: 1px solid #B03D31; }
.border-daccent  { border: 1px solid #C1666B; }
.border-dshade   { border: 1px solid #5B0A91; }

/* ----------------------------------------------- */

.border-1   { border: 1px solid #111111; }
.border-2   { border: 1px solid #222222; }
.border-3   { border: 1px solid #333333; }
.border-4   { border: 1px solid #444444; }
.border-5   { border: 1px solid #555555; }
.border-6   { border: 1px solid #666666; }
.border-7   { border: 1px solid #777777; }
.border-8   { border: 1px solid #888888; }
.border-9   { border: 1px solid #999999; }
.border-a   { border: 1px solid #aaaaaa; }
.border-b   { border: 1px solid #bbbbbb; }
.border-c   { border: 1px solid #cccccc; }
.border-d   { border: 1px solid #dddddd; }
.border-e   { border: 1px solid #eeeeee; }
.border-f   { border: 1px solid #ffffff; }
/* =============================================================== */